/Makefile.am
/getopt.c
/getopt.in.h
/getopt1.c
/getopt_int.h
/gettext.h
/long-options.c
/long-options.h
/stdarg.in.h
/stddef.in.h
/stdlib.in.h
/sys_types.in.h
/unistd.c
/unistd.in.h
/version-etc.c
/version-etc.h
/basename-lgpl.c
/c-ctype.c
/c-ctype.h
/c-strcase.h
/c-strcasecmp.c
/c-strcaseeq.h
/c-strncasecmp.c
/close-stream.c
/close-stream.h
/closeout.c
/closeout.h
/config.charset
/dirname-lgpl.c
/dirname.h
/dosname.h
/errno.in.h
/error.c
/error.h
/exitfail.c
/exitfail.h
/fpending.c
/fpending.h
/getprogname.c
/getprogname.h
/hard-locale.c
/hard-locale.h
/intprops.h
/limits.in.h
/localcharset.c
/localcharset.h
/malloc.c
/mbrtowc.c
/mbsinit.c
/minmax.h
/msvc-inval.c
/msvc-inval.h
/msvc-nothrow.c
/msvc-nothrow.h
/quote.h
/quotearg.c
/quotearg.h
/ref-add.sin
/ref-del.sin
/stdbool.in.h
/stdint.in.h
/stdio-impl.h
/stdio.in.h
/streq.h
/strerror-override.c
/strerror-override.h
/strerror.c
/string.in.h
/stripslash.c
/verify.h
/wchar.in.h
/wctype-h.c
/wctype.in.h
/xalloc-die.c
/xalloc-oversized.h
/xalloc.h
/xmalloc.c
/progname.c
/progname.h
